
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #fff;
  text-align: center;
}


.top-image {
  display: block;
  width: 100%;
  height: auto;
}


header {
  margin-top: -280px;
  background-color: #D1D1FA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  position: relative;
  z-index: 10;
}


nav a {
  margin: 0 10px;
  padding: 5px 10px;
  background: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: 0.3s;
}
nav a:hover {
  background-color: #d4c6f2;
}
nav a.active {
  border: 2px solid #b5a6f5;
}


h1 {
  font-size: 35px;
  margin: 40px 0 20px 0;
  text-align: center;
}


.bio-section {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px auto;
  width: 90%;
  max-width: 1000px;
}


.bio-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.purple-box {
  background-color: #c5bbf9;
  padding: 23px 46px;
  border-radius: 15px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  max-width: 900px;
  width: 90%;
  margin-top: 30px;
}


.bottom-image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: -40px;
}

@media (min-width: 768px) {
  nav {
    display: flex !important;
    gap: 20px;
  }

  header nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  header nav a:first-child {
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  nav {
    display: flex !important;
    gap: 20px;
  }

  header nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  header nav a:first-child {
    margin-right: auto;
  }
}
