body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #fff;
  text-align: center;
}

.top-image {
  display: block;
  width: 100%;
  height: auto;
}

.bottom-image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 340px;
}

header {
  margin-top: -190px;
  background-color: #D1D1FA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  position: relative;
  z-index: 10;
}

h1 {
  font-size: 40px; 
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.purple-box {
  margin-top: -30px; 
  margin-bottom: -320px; 
  background-color: #c5bbf9;
  padding: 40px;
  border-radius: 15px;
  font-size: 18px; 
  line-height: 1.3;
  text-align: center;
  max-width: 600px;
}

h2 {
  font-size: 23px;
  margin-bottom: 15px;
}


nav a {
  margin: 0 10px;
  padding: 5px 10px;
  background: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: 0.3s;
}

nav a:hover {
  background-color: #d4c6f2;
}

nav a.active {
  border: 2px solid #b5a6f5;
}

.bio-section {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 90%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
}

.bio-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #000;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9a8ce1;
}

@media (min-width: 768px) {
  nav {
    display: flex !important;
    gap: 20px;
  }

  header nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  header nav a:first-child {
    margin-right: auto;
  }
}
